    @font-face {
        font-family: 'zebars';
        src: url('fonts/Zabars.ttf') format('truetype');
    }


    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'zebars', sans-serif;
        height: 100vh;
        background-color: #f0f0f0;
        background-image: url('img/backround-dessert.png');
        background-size: cover;
        background-position: center;
    }

    h1 {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        font-size: 62px;
    }

    #game-container {
        position: relative;
        width: 720px;
        height: 480px;
    }

    canvas {
        background-color: black;
        display: block;
    }

    #start-btn {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 60px;
        font-size: 24px;
        font-weight: bold;
        background-color: #ffcb19;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        z-index: 10;
    }

    #start-btn:hover {
        background-color: #ebb916;
    }

    @media only screen and (max-width: 760px) {
        canvas {
            width: 100%;
        }
    }

    @media only screen and (max-height: 480px) {
        canvas {
            height: 100vh;
        }

        h1{
            display: none;
        }
    }